<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <title>Auth page</title>
</head>
<body class="error">
<div>
  <div class="background">
    <div class="bg4"></div>
    <div class="bg4"></div>
    <div class="bg3"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
  </div>
  <div class="content">
    <div class="glassy">
      <div class="textbox">
        <h1>Authentication failed</h1>
        <p>
          Some possible reasons:
          <ul>
          <li>You are using expired link. Go back to bot and get new one!</li>
          <li>You have denied Spotify authorization request. In this case you can just reuse the link instead of getting new one. Try it!</li>
        <li>If the reason is none of these, you can contact me! <a style="color:#ffffff" href="https://t.me/m3r7v4i444c0m"><span>asf1000000</span></a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>