<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Auth page</title>
</head>
<body class="success">
<div>
    <div class="background">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="bg2"></div>
        <div class="bg5"></div>
        <div class="bg5"></div>
    </div>
    <div class="content">
        <div class="glassy">
            <div class="textbox">
                <h1>Authorization completed</h1>
                <p>
                    You can go back to telegram.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>